:root {
    --operationColor: #ff7d00;
    --lighten: #65afff;
}
html {
    height: 100%;
}
body{
    background-color: #001524;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
header{
    color: #ffecd1;
    display: flex;
    justify-content: center;
    font-size: 32px;
    background: #0b3b49;
    padding: 1vh 0;
}
footer {
    color: #ffecd1;
    display: flex;
    justify-content: center;
    font-size: 32px;
    background: #0b3b49;
    padding: 1vh 0;
}
.middle {
    flex-grow: 1;
    display: flex;
    background-color: #001524;
}
.calculator {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    grid-gap: 10px;
    padding: 5vh 0;
    background-color: #0b3b49;
    width: 20%;
    margin: auto auto;
}
.screen {
    grid-column: 1/ span 3;
    background-color: #ffecd1;
    text-align: right;
}